body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-color: #ffd900; */
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
  width: 100%;
  height: 100%;
}

#logo {
  height: 30%;
  width: 20%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: static;
}

#logo img {
  width: 100%;
}

#opciones {
  text-align: center;
  height: 70%;
  border-right: 1px solid black;
  position: static;
}

#opciones table {
  width: 100%;
}
#opciones table tr td {
  border-bottom: 1px solid gray;
  margin: 1em;
  padding: 1em 0;
}

#elegido {
  background-color: #ffd900;
}
#opciones table tr td a {
  text-decoration: none;
}

#ordenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem;
  position: absolute;
  top: 0;
  width: 78%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 97vh;
}

#ordenes div {
  border: 1px solid black;
  padding: 1rem;
  height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
